<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form class="form__group field" th:action="@{/registration}" th:method="POST" th:object="${person}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label class="form__label" for="firstName">firstName:</label>
    <input class="form__field" type="text" th:field="*{firstName}" id="firstName" th:value="${person.firstName}">
    <div class="error" style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">ERROR</div>
    <br>
    <label class="form__label" for="lastName">lastName:</label>
    <input class="form__field" type="text" th:field="*{lastName}" id="lastName" th:value="${person.lastName}">
    <div class="error"  style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">ERROR</div>
    <br>
    <label class="form__label" for="email">email:</label>
    <input class="form__field" type="email" th:field="*{email}" id="email" th:value="${person.email}">
    <div class="error"  style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">ERROR</div>
    <br>
    <label class="form__label" for="dateOfBirth">dateOfBirth:</label>
    <input class="form__field" type="date" th:field="*{dateOfBirth}" id="dateOfBirth" th:value="${person.dateOfBirth}">
    <div class="error"  style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">ERROR</div>
    <br>
    <label class="form__label" for="password">password:</label>
    <input class="form__field" type="password" th:field="*{password}" id="password" th:value="${person.password}">
    <div class="error"  style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">ERROR</div>
    <br>
    <input class="form__field" type="submit" value="Submit">
</form>
</body>
</html>