<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>posts</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main>
    <h1>My posts</h1>
    <div th:each="post : ${myPosts}" class="list">
        <div class="list-item title"><a th:href="${'/post/' + post.hash}" th:text="${post.title}"></a></div>
        <div class="list-item" th:text="${post.text}"></div>
    </div>
    <h1>Sharing posts</h1>
    <div th:each="post : ${sharingPosts}" class="list">
        <div class="list-item title"><a th:href="${'/post/' + post.hash}" th:text="${post.title}"></a></div>
        <div class="list-item" th:text="${post.text}"></div>
    </div>
</main>
</body>
</html>