<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New post</title>
</head>
<body>
<form th:action="@{/post}" th:method="POST" th:object="${post}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="text">text:</label>
    <textarea  th:field="*{text}" id="text" th:value="${post.text}"> </textarea>
    <div style="color: red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">ERROR</div>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>