<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            background-color: #1f1f1f;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2em;
        }

        .error-info {
            margin-top: 30px;
            background-color: #282828;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<h1>Oops! Something went wrong.</h1>
<div class="error-info">
    <p>Sorry, an error occurred while processing your request.</p>
    <p th:text="${'Error details: ' + exception.message}"> </p>
    <p th:text="${'Requested URL: ' + url}"></p>
</div>
</body>
</html>
